<h2>Add New Room</h2>

<form action="/rooms/create-room" method="post">

<label for="">Name</label>
<input type="text" name="name">

<label for="">Description</label>
<input type="text" name="description">

<label for="">Image</label>
<input type="text" name="imageUrl">

<button type="submit">Add Room</button>

</form>



{{!-- name: String ,
    description: String,
    imageUrl: String,
    owner: { type: Schema.Types.ObjectId, ref: "User" }, --}}