<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
    <a href="/users/signup">Sign Up</a>
    <a href="/users/login">Login</a>
    <a href="/rooms/all-rooms">See All Rooms</a>
    <a href="/rooms/create-room">Add New Room</a>
    <a href="/users/logout">Logout</a>
  </nav>
    {{{body}}}
  </body>
</html>
